* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  height: 1000vh;
  background: #2f3238;
}
.container {
  margin: 30px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
 border-radius:20% ;
  position: relative;
  max-width: 300px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
}
.image img {
  opacity: 0.8;
  position: relative;
  vertical-align: top;
  transition: 0.6s;
}
.more {
  position: absolute;
  background: rgba(0, 0, 0, 0.062);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-2.5rem);
}
