* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --fb: #0f90f3;
  --fb-bg: #0f90f399;
  --github: #6e5494;
  --github-bg: #6e549499;
  --linkedin: #0a66c2;
  --linkedin-bg: #0a66c299;
  --icons-hover-bg: #d4d0d08c;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow {
  transform: rotate(360deg) translateY(4.9rem) translateX(-0.3rem);
}
.arrow:hover {
  transition: ease-out;
}
.arrow-1 {
  transform: rotate(360deg) translateY(6.5rem) translateX(-0.2rem);
}

.intro {
  padding-top: 6rem;
}
.title {
  letter-spacing: 0.5em;
}

.profile {
  position: relative;
  border-radius: 35% 65% 57% 43% / 31% 45% 55% 69%;
  height: 20rem;
  width: 20rem;
}
.header2 {
  padding: 3rem;
}

.text-1 {
  font-size: 15px;
  padding: 2px;
  background-color: rgb(207, 207, 207);
}
.text-2 {
  font-size: 15px;
  padding: 2px;
  background-color: rgb(207, 207, 207);
}
.image {
  background-color: rgb(117, 117, 117);
  height: 140px;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.circle {
  background-color: var(--fb-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.circle1 {
  background-color: var(--linkedin-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.circle2 {
  background-color: var(--github-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.stcircle {
  background-color: var(--fb);
  font-size: larger;
  height: 80px;
  width: 90px;
  border-radius: 50% 50% 46% 54% / 51% 51% 49% 49%;
}
.gitcircle {
  background-color: var(--github-bg);
  height: 80px;
  width: 90px;
  border-radius: 47% 53% 46% 54% / 65% 55% 45% 35%;
  transform: translate(10rem, 13rem);
}
.imgcircle {
  background-color: var(--fb-bg);
  height: 100px;
  width: 100px;
  border-radius: 55% 45% 71% 29% / 44% 53% 47% 56%;
  transform: translate(23rem, -12rem);
}
.imgcircle1 {
  background-color: var(--linkedin-bg);
  height: 120px;
  width: 120px;
  border-radius: 64% 36% 52% 48% / 40% 34% 66% 60%;
  transform: translate(35rem, -1.5rem);
}
.imgcircle2 {
  background-color: var(--linkedin-bg);
  height: 50px;
  width: 60px;
  border-radius: 39% 61% 53% 47% / 39% 47% 53% 61%;
  transform: translate(44rem, -12rem);
}
.workcircle {
  position: absolute;
  height: 55px;
  width: 50px;
  background-color: rgb(247, 91, 176);
  border-radius: 39% 61% 57% 43% / 37% 47% 53% 63%;
  transform: translate(37.3rem, 2rem);
  z-index: -1;
  opacity: 1;
}
.oval {
  position: absolute;
  background-color: var(--linkedin-bg);
  border-radius: 37% 63% 46% 54% / 40% 27% 73% 60%;
  height: 500px;
  width: 500px;
  z-index: -1;
  opacity: 1;
  transform: translate(46rem, -16.5rem);
}

.more {
  transform: translateY(-3.3rem);
  background: rgba(231, 229, 229, 0.247);
}
.start {
  height: 100%;
  width: 100%;
}

@media (max-width: 894px) {
  .header2 {
    transform: translate(9rem);
  }
  .container {
    transform: translate(5rem);
  }
  .header3 {
    transform: translate(14rem);
    display: flex;
    flex-direction: row;
  }
  .intro {
    font-size: large;
  }
  .container {
    height: 100vh;
  }
  .tec-t {
    font-size: medium;
    padding-top: 1rem;
  }
  .wd-d {
    padding-top: 3rem;
  }

  .text-2 {
    transform: translate(11.5rem, -6rem);
  }
}

/*  Large devices (desktops, 992px and up) */
@media (max-width: 829px) {
  .header3 {
    display: flex;
    flex-direction: column;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 768px) {
  .title {
    letter-spacing: 0.3em;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .profile {
    transform: translate(-2rem, 4rem);
  }
  .oval {
    transform: translate(28rem, -14rem);
  }
  .intro {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 500px) {
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
