* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --fb: #0f90f3;
  --fb-bg: #0f90f399;
  --github: #6e5494;
  --github-bg: #6e549499;
  --linkedin: #0a66c2;
  --linkedin-bg: #0a66c299;
  --icons-hover-bg: #d4d0d08c;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow {
  transform: rotate(360deg) translateY(4.9rem) translateX(-0.3rem);
}
.arrow:hover {
  transition: ease-out;
}
.arrow-1 {
  transform: rotate(360deg) translateY(5.9rem) translateX(-0.2rem);
}

.intro {
  padding-top: 6rem;
}
.title {
  letter-spacing: 0.5em;
}

.profile {
  position: relative;
  border-radius: 35% 65% 57% 43% / 31% 45% 55% 69%;
  height: 20rem;
  width: 20rem;
}
.header2 {
  padding: 3rem;
}

.text-1 {
  font-size: 15px;
  padding: 2px;
  background-color: rgb(207, 207, 207);
}
.text-2 {
  font-size: 15px;
  padding: 2px;
  background-color: rgb(207, 207, 207);
}
.image {
  background-color: rgb(117, 117, 117);
  height: 140px;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
}
.circle {
  background-color: var(--fb-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.circle1 {
  background-color: var(--linkedin-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.circle2 {
  background-color: var(--github-bg);
  border-radius: 51% 49% 64% 36% / 53% 42% 58% 47%;
  height: 80px;
  width: 70px;
  transform: translateX(-1.9rem);
  transform: translateY(-4.5rem);
  z-index: -1;
  opacity: 1;
}
.stcircle {
  background-color: var(--fb);
  font-size: larger;
  height: 80px;
  width: 90px;
  border-radius: 50% 50% 46% 54% / 51% 51% 49% 49%;
}
.gitcircle {
  background-color: var(--github-bg);
  height: 80px;
  width: 90px;
  border-radius: 47% 53% 46% 54% / 65% 55% 45% 35%;
  transform: translate(10rem, 13rem);
}
.imgcircle {
  background-color: var(--fb-bg);
  height: 100px;
  width: 100px;
  border-radius: 55% 45% 71% 29% / 44% 53% 47% 56%;
  transform: translate(23rem, -12rem);
}
.imgcircle1 {
  background-color: var(--linkedin-bg);
  height: 120px;
  width: 120px;
  border-radius: 64% 36% 52% 48% / 40% 34% 66% 60%;
  transform: translate(35rem, -1.5rem);
}
.imgcircle2 {
  background-color: var(--linkedin-bg);
  height: 50px;
  width: 60px;
  border-radius: 39% 61% 53% 47% / 39% 47% 53% 61%;
  transform: translate(44rem, -12rem);
}
.workcircle {
  position: absolute;
  height: 55px;
  width: 50px;
  background-color: rgb(247, 91, 176);
  border-radius: 39% 61% 57% 43% / 37% 47% 53% 63%;
  transform: translate(37.3rem, 2rem);
  z-index: -1;
  opacity: 1;
}
.oval {
  position: absolute;
  background-color: var(--linkedin-bg);
  border-radius: 37% 63% 46% 54% / 40% 27% 73% 60%;
  height: 500px;
  width: 500px;
  z-index: -1;
  opacity: 1;
  transform: translate(46rem, -16.5rem);
}

.more {
  transform: translateY(-3.3rem);
  background: rgba(231, 229, 229, 0.247);
}
.start {
  height: 100%;
  width: 100%;
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 894px) {
  .tec-t {
    display: flex;
    flex-direction: column-reverse;
  }
  .wd-d {
    display: flex;
    flex-direction: column;
  }
  .icon {
    display: block;
    position: absolute;
    flex-direction: row;
    transform: translate(-3rem, 2rem);
  }
  .intro {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .header {
    transform: translateX(-6rem);
  }
  .oval {
    transform: translate(20rem, -20rem);
  }
}
@media (max-width: 796px) {
  .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateX(4rem);
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .contain {
    transform: translateX(6rem);
  }
  .row {
    transform: translateX(-6rem);
  }
  .intro {
    display: flex;
    text-decoration: wavy;
    font-size: larger;
    font-style: normal;
    transform: translate(-2rem);
  }
  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(19rem);
  }
  .header2 {
    transform: translate(-7rem, -12rem);
  }
  .header3 {
    transform: translate(-1rem, -16rem);
  }
  .tec-t {
    transform: translate(-3rem);
  }
  .tec-h {
    font-size: medium;
    transform: translate(-3rem);
  }
  .tec-w {
    font-size: medium;
    transform: translate(-3rem, 4rem);
  }
  .wd-d {
    transform: translate(-3rem, 5rem);
  }
}
@media (max-width: 450px) {
  .header {
    transform: translate(-5.5rem);
  }
  .oval {
    transform: translate(-15rem, -10rem);
  }
  .icon {
    transform: translate(-2rem, 25rem);
  }
  .profile {
    transform: translate(-12rem, 4rem);
    height: 280px;
    width: 390px;
    display: flex;
    position: relative;
  }
  .intro {
    transform: translate(10rem, 20rem);
    font-size: small;
    padding: 2rem;
    text-transform: inherit;
    font: 1em sans-serif;
    flex-direction: column;
    position: static;
  }
  .header2 {
    transform: translate(-4rem, -2rem);
  }
  .tec-h {
    transform: translate(-4rem, 10rem);
  }
  .tec-t {
    transform: translate(-4rem, 11rem);
  }
  .tec-w {
    transform: translate(-4rem, 15rem);
  }
  .wd-d {
    transform: translate(-4rem, 15rem);
  }
  .tec {
    width: 25rem;
  }
}
